<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
	<title>Edit <%= post.title%></title>
</head>
<body>
    <header class="group">
        <h1><a href="/feed">WDI micro BLOG</a></h1>
            <nav class="group">
                <ul>
                    <li><a href="/feed">Home</a></li>
                    <li><a href="/authors">Authors</a></li>
                    <li><a href="/subscribe" id="third">Subscribe</a></li>
                    <li id="search_tag">Search by tag
                        <form action="/tag/posts" method="GET">
                            <input type="text" name="name"
                            placeholder="#tag">
                        </form>
                    </li>
                </ul>
            </nav>        
    </header>
    <div class="wrapper">
        <div class="banner">
            <h2>Edit Your Post!</h2>    
        </div>
	   　<form action="/post/<%= post.id %>" method="POST" id="edit_form">
            <input type="hidden" name="_method" value="PUT">
		    <p>Author: 
			<input type="text" name="author" value="<%= Author.find_by(id: post.author_id).name%>">
    	    </p>
    	    <p>Title:
            <input type="text" name="title" value="<%= post.title %>">
           	<p>Hastag:    
            <input type="text" name="tag" value="<%= post.tag_name%>">
            </p>
    	    </p>
        	<p>
    	       <textarea name="content" rows="5" cols="70"><%= post.content%></textarea>
    	    </p>
    	    <button>Edit</button>
	    </form>
        <a href="/feed">Go back</a>
    </div>
    <footer>
            
    </footer>        
</body>
</html>