<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
	<title>Micro Blog</title>
</head>
<body>
    <header class="group">
        <h1><a href="/feed">WDI micro BLOG</a></h1>
            <nav class="group">
                <ul>
                    <li><a href="/feed">Home</a></li>
                    <li><a href="/authors">Authors</a></li>
                    <li><a href="/subscribe" id="third">Subscribe</a></li>
                    <li id="search_tag">Search by tag
                        <form action="/tag/posts" method="GET">
                            <input type="text" name="name"
                            placeholder="#tag">
                        </form>
                    </li>
                </ul>
            </nav>        
    </header>
    <div class="wrapper">
        <div class="banner">
            <h2>Reblog!</h2>
        </div>
	    <form action="/feed" method="POST">
		    <p>Author: 
                <select name="author">
                    <option></option>    
                        <% authors.each do |author|%>
                            <option value="<%= author.name %>"><%= author.name%></option>
                        <% end %> 
                </select>
    	    </p>
    	    <p>Title:
    		   <input type="text" name="title" placeholder="Title">
            </p>
    	    <p>Hastag:    
            <input type="text" name="tag" placeholder="Hashtag">
            </p>
            <div class="reblog">
                <article>
                    <h3 style="color: #E96462">Reblog from <a href="/author/<%= author.id %>"><%= author.name %></a></h3>
                    <p>
                        <%= content %>
                    </p>    
                </article>
            </div>    
    	    <p>
    	       <textarea name="content" rows="5" cols="70"><%= content %></textarea>
    	    </p>
    	    <button>Post</button>
	    </form>
        <a href="/feed">Go back</a>
    </div>
    <footer>
            
    </footer>    
</body>
</html>